@layer base {
  @font-face {
    font-family: "SFPro";
    src: local("") url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
    font-weight: 400;
  }
  @font-face {
    font-family: "SFPro";
    src: local("") url("./fonts/SFPRODISPLAYMEDIUM.OTF") format("opentype");
    font-weight: 500;
  }

  @font-face {
    font-family: "SFPro";
    src: local("") url("./fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
    font-weight: 700;
  }

  @font-face {
    font-family: "SFText";
    src: local("") url("./fonts/sf-compact-text-heavy-58646f645b774.otf")
      format("opentype");
    font-weight: 700;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "SFPro", sans-serif;
  color: white;
  line-height: 1.5rem;
}

::-moz-selection {
  color: #e8594e;
}

::selection {
  color: #e8594e;
}
